<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Nome?</strong>
    <p>Lucas Augusto</p>
  </div>

  <div id ="Turma">
    <strong><h1>Turma:</h1></strong>
    <p>ADS0301M</p>  
  </div>

  <ion-img src="c:\Users\Nelson\Pictures\Camera Roll\foto.jpg"
    alt="foto de um ano atrás"> 
  </ion-img>

</ion-content>
